beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
Cython==0.29.18
discoIPC==1.0.0
idna==2.9
lxml==4.5.0
psutil==5.7.0
requests==2.23.0
sentry_sdk==0.14.3
urllib3==1.25.9
vdf==3.3
