beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
Cython==0.29.16
discoIPC==1.0.0
idna==2.10
lxml==4.5.1
psutil==5.7.0
requests==2.23.0
sentry_sdk==0.14.4
urllib3==1.25.9
vdf==3.3
