beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Cython==0.29.15
discoIPC==1.0.0
idna==2.9
lxml==4.5.0
psutil==5.7.0
requests==2.23.0
sentry_sdk==0.14.3
urllib3==1.25.8
vdf==3.2
